/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Akhir CSS Reset */

/* Main Style */
body{
    background-image: url("img/b3.jpg");
    background-size: 100%;
    font-family: sans-serif;
}
.hovering{
    margin: auto;
    max-width: 650px;
}
.container{
    max-width: 650px;
    margin: 60px auto 0;
    background-color: #ffffff;
    border: 5px solid black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 30px 5px -20px rgba(0,0,0,.75);
    transition: .5s;
}
.hovering:hover .container{
    transform: translateY(-45px);
    box-shadow: 0px 80px 5px -40px rgba(0,0,0,.20);
}
header{
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(7, 226, 73);
    text-align: center;
    padding: 15px 0px;
    border-bottom: 5px solid black;
}
.menu{
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.menu a{
    z-index: 10;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0;
}
.menu a i{
    font-size: 40px;
    transition: .2s;
}
.menu a:hover{
    box-shadow:6px 6px 10px -1px rgba(0, 0, 0, .15),
    -6px -6px 10px -1px rgba(255, 255, 255, .7);
}
.menu a:hover i{
    transform: scale(1.2);
}
.footer{
    color: #fff;
    margin: 30px auto 20px;
    width: max-content;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
}
.footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .3s;
}
.footer a:hover{
    color: rgb(80, 77, 77);
    text-decoration: underline;
}
/* Akhir Main Style */


/* Animasi Shape */
/* Shape-1 */
.shape-1{
    z-index: 5;
    opacity: 0;
    transition: 1s;
    width: 0px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
}
.hovering:hover .shape-1{
    opacity: 1;
    animation: shape1 2.5s .5s ease forwards;
}

/* Shape-2 */
.shape-2{
    z-index: 5;
    opacity: 0;
    width: 150px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    right: 170px;
    transition: 1s;
}
.hovering:hover .shape-2{
    opacity: 1;
    animation: shape2 2.5s 1s ease forwards;
}

/* Shape-3 */
.shape-3{
    z-index: 5;
    opacity: 0;
    width: 70px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 40px;
    transition: 1s;
}
.hovering:hover .shape-3{
    opacity: 1;
    animation: shape3 2.5s 1.5s ease forwards;
}

/* Shape-4 */
.shape-4{
    z-index: 5;
    opacity: 0;
    width: 0;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 1s;
}
.hovering:hover .shape-4{
    opacity: 1;
    animation: shape4 1.5s 2s ease forwards;
}

/* Shape-5 */
.shape-5{
    z-index: 5;
    opacity: 0;
    width: 0;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 75px;
    left: 0;
    transition: 1s;
}
.hovering:hover .shape-5{
    opacity: 1;
    animation: shape5 1.5s 2.6s ease forwards;
}

/* Shape-putol */
.shape-putol{
    z-index: 5;
    opacity: 0;
    width: 80px;
    height: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 225px;
    transition: 1s;
}
.hovering:hover .shape-putol{
    opacity: 1;
    animation: putol 4s .5s ease forwards;
}
.bgcolor{
    z-index: 1;
    height: 100%;
    width: 0;
    background-image: linear-gradient(-45deg, #7bdff2, #b2f7ef);
    position: absolute;
    top: 0;
    left: 0;
}
.hovering:hover .bgcolor{
    opacity: 1;
    animation: bgcolor 3s 3s ease forwards;
}
/* Akhir Animasi Shape */

/* Animasi */
@keyframes bgcolor{
    0%{
        width: 0;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}
@keyframes shape1{
    0%{
        width: 0;
        height: 0;
        border-radius: 0;
    }
    50%{
        background-color: rgb(255, 194, 115);
    }
    100%{
        width: 200px;
        height: 200px;
        border-radius: 0 50% 50% 50%;
        background-color: rgb(255, 173, 66);
    }
}
@keyframes shape2{
    0%{
        width: 150px;
        height: 0;
        border-radius: 0;
    }
    50%{
        background-color: rgb(214, 164, 255);
        border-radius: 0;
    }
    100%{
        height: 180px;
        border-radius: 40% 40% 0 0;
        background-color: rgb(188, 106, 255);
    }
}
@keyframes shape3{
    0%{
        width: 70px;
        height: 0;
        border-radius: 0;
    }
    50%{
        background-color: rgb(171, 255, 154);
        border-radius: 0;
    }
    100%{
        height: 200px;
        border-radius: 0 0 50px 50px;
        background-color: rgb(148, 238, 64);
    }
}
@keyframes shape4{
    0%{
        width: 0;
        height: 150px;
        border-radius: 0;
    }
    50%{
        background-color: rgb(159, 250, 212);
        border-radius: 0;
    }
    100%{
        width: 70px;
        border-top-left-radius: 40px;
        background-color: rgb(78, 228, 165);
    }
}
@keyframes shape5{
    0%{
        width: 0;
        height: 80px;
    }
    50%{
        background-color: rgb(245, 255, 111);
        border-radius: 0;
    }
    100%{
        width: 220px;
        border-radius: 0 40px 40px 0;
        background-color: rgb(240, 253, 54);
    }
}
@keyframes putol{
    0%{
        width: 80px;
        height: 0;
    }
    50%{
        width: 80px;
        height: 80px;
        background-color: #fd5d63;
        border-radius: 20px;
    }
    60%{
        width: 80px;
        height: 80px;
        transform: translateY(60px);
        background-color: #f04d53;
    }
    75%{
        width: 80px;
        height: 80px;
        transform: translateX(50px) translateY(60px);
        border-radius: 20px;
        background-color: #eb393e;
    }
    100%{
        width: 80px;
        height: 80px;
        transform: translateX(50px) translateY(60px) rotate(360deg) scale(1.5);
        border-radius: 50%;
        background-color: #EA2027;
    }
}
/* Akhir Animasi */

/* Ikon Syle */
.fa-school{
    color: #213b52;
}
.fa-youtube{
    color: #ff0000;
}
.fa-gamepad{
    color: #3c1e6e;
}
.fa-whatsapp{
    color: #11b519;
}
.fa-book{
    color: #d2691e;
}
.fa-camera{
    color: rgb(104, 99, 99);
}
.fa-palette{
    color: rgb(233, 233, 109);
}
.fa-laptop-code{
    color: silver;
}
.fa-facebook{
    color: #1772eb;
}
.fa-telegram{
    color: #13a5f7;
}
.fa-fill-drip{
    color: rgb(255, 215, 106);
}
.fa-twitter{
    color: #00a7e6;
}
.fa-github{
    color: #313131;
}
.fa-twitch{
    color: #692393;
}

/* image icon */
.fa-google{
    width: 40px;
    height: 40px;
    transition: .2s;
}
.menu a:hover .fa-google{
    transform: scale(1.2);
}
.fa-instagram{
    width: 40px;
    height: 40px;
    transition: .2s;
}
.menu a:hover .fa-instagram{
    transform: scale(1.2);
}
.fa-shopee{
    width: 40px;
    height: 40px;
    transition: .2s;
}
.menu a:hover .fa-shopee{
    transform: scale(1.2);
}
.fa-gmail{
    width: 40px;
    height: 40px;
    transition: .2s;
}
.menu a:hover .fa-gmail{
    transform: scale(1.2);
}
.fa-amazon{
    width: 40px;
    height: 40px;
    transition: .2s;
}
.menu a:hover .fa-amazon{
    transform: scale(1.2);
}
.fa-terraria{
    width: 30px;
    height: 50px;
    transition: .2s;
}
.menu a:hover .fa-terraria{
    transform: scale(1.2);
}
.fa-film{
    width: 40px;
    height: 45px;
    transition: .2s;
}
.menu a:hover .fa-film{
    transform: scale(1.2);
}
.fa-overflow{
    width: 50px;
    height: 50px;
    transition: .2s;
}
.menu a:hover .fa-overflow{
    transform: scale(1.2);
}
.fa-mcd{
    width: 70px;
    height: 60px;
    transition: .2s;
}
.menu a:hover .fa-mcd{
    transform: scale(1.2);
}
.fa-fontawesome{
    width: 40px;
    height: 40px;
    transition: .2s;
}
.menu a:hover .fa-fontawesome{
    transform: scale(1.2);
}
/* Akhir image icon */

/* Akhir Ikon Style */

/* Responsive Media */
@media (min-width: 650px){
    .footer{
        bottom: 0px;
        left: 0;
        right: 0;
        position: absolute;
    }
    .menu a{
        transition: .5s;
    }
}

@media (max-width: 760px){
    .hovering{
        margin: 0 20px;
    }
}
